* {
  margin: 0px;
  padding: 0px;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

.main-container {
  margin: 0 auto;
  background-color: #0d3c7d;
  max-width: 1920px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .main-container {
    background-color: #ffffff;
  }
}
.main-container .inner-container {
  max-width: 1060px;
  margin: 0 auto;
}
.main-container header {
  height: 140px;
  background-color: #ffff;
}
@media (min-width: 320px) and (max-width: 767px) {
  .main-container header {
    width: 100%;
    height: auto;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .main-container header {
    width: 100%;
  }
}
.main-container header .inner-container {
  height: 100%;
}
.main-container header .inner-container .header {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 50px;
  align-items: center;
  height: inherit;
}
@media (min-width: 320px) and (max-width: 767px) {
  .main-container header .inner-container .header {
    padding: 20px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .main-container header .inner-container .header {
    padding: 20px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .main-container header .inner-container .header img {
    width: 130px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .main-container header .inner-container .header img {
    width: 110px;
  }
}
.main-container header .inner-container .header .menu {
  align-items: center;
  display: grid;
}
@media (min-width: 320px) and (max-width: 767px) {
  .main-container header .inner-container .header .menu .icon {
    text-align: right;
  }
}
.main-container header .inner-container .header .menu .icon i {
  display: none;
  font-size: 18px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .main-container header .inner-container .header .menu .icon i {
    display: block;
    margin-bottom: 5px;
    text-align: right;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .main-container header .inner-container .header .menu ul {
    display: none;
  }
}
@media (min-width: 768px) {
  .main-container header .inner-container .header .menu ul {
    display: block;
  }
}
.main-container header .inner-container .header .menu ul li {
  display: inline-block;
  color: #2f5d97;
  margin-right: 29px;
  font-size: 16px;
}
.main-container header .inner-container .header .menu ul li:last-child {
  margin: 0;
}
@media (min-width: 320px) and (max-width: 767px) {
  .main-container header .inner-container .header .menu ul li {
    display: block;
    margin: 0px 0px 10px 0px;
    margin-bottom: none;
    text-align: center;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .main-container header .inner-container .header .menu ul li {
    margin-right: 15px;
  }
}
.main-container header .inner-container .header .menu ul li .grid {
  display: grid;
}
.main-container header .inner-container .header .menu ul li a {
  text-decoration: none;
  font-weight: bold;
}
@media (min-width: 320px) and (max-width: 767px) {
  .main-container header .inner-container .header .menu ul li a {
    font-weight: normal;
    font-size: 8px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .main-container header .inner-container .header .menu ul li a {
    font-size: 11px;
    font-weight: normal;
  }
}
.main-container header .inner-container .header .menu ul li i {
  text-align: center;
  color: #76d2fa;
}
.main-container header .inner-container .header .menu ul li i:hover {
  cursor: pointer;
}
.main-container .banner {
  padding: 207px 0px 0px 0px;
  height: 836px;
  background-image: url(../images/banner-background_06.png);
  background-size: cover;
}
@media (min-width: 320px) and (max-width: 767px) {
  .main-container .banner {
    padding: 70px 0 0 0;
    height: auto;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .main-container .banner {
    padding: 55px 0 0 0;
    width: 100%;
    height: auto;
  }
}
.main-container .banner .inner-container .banner-content {
  width: 660px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .main-container .banner .inner-container .banner-content {
    padding: 20px;
    width: 100%;
    text-align: center;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .main-container .banner .inner-container .banner-content {
    padding: 20px;
    width: 100%;
    text-align: center;
  }
}
.main-container .banner .inner-container .banner-content h1 {
  margin-bottom: 40px;
  color: #ffff;
}
@media (min-width: 320px) and (max-width: 767px) {
  .main-container .banner .inner-container .banner-content h1 {
    font-size: 24px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .main-container .banner .inner-container .banner-content h1 {
    font-size: 26px;
  }
}
.main-container .banner .inner-container .banner-content .square {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: auto 1fr;
  align-items: center;
  margin-bottom: 90px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .main-container .banner .inner-container .banner-content .square {
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .main-container .banner .inner-container .banner-content .square {
    width: 100%;
  }
}
.main-container .banner .inner-container .banner-content .square i {
  color: red;
}
.main-container .banner .inner-container .banner-content .square p {
  color: #ffff;
  font-size: 36px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .main-container .banner .inner-container .banner-content .square p {
    font-size: 16px;
    text-align: left;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .main-container .banner .inner-container .banner-content .square p {
    font-size: 16px;
  }
}
.main-container .banner .inner-container .banner-content button {
  letter-spacing: 5px;
  color: #ffff;
  font-size: 17px;
  border: 1px solid #00a6ff;
  border-radius: 25px;
  padding: 15px 20px;
  background-color: transparent;
}
@media (min-width: 320px) and (max-width: 767px) {
  .main-container .banner .inner-container .banner-content button {
    letter-spacing: normal;
    font-size: 12px;
    padding: 5px 8px;
    margin-bottom: 40px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .main-container .banner .inner-container .banner-content button {
    letter-spacing: normal;
    font-size: 13px;
    padding: 8px 10px;
    margin-bottom: 40px;
  }
}
.main-container .banner .inner-container .banner-content button:hover {
  cursor: pointer;
}
.main-container .intro {
  padding: 100px 0px;
  background-color: #ffff;
  padding: 50px 0;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .main-container .intro {
    width: 100%;
  }
}
.main-container .intro .inner-container .text {
  width: 915px;
  text-align: center;
  margin: 0 auto;
}
@media (min-width: 320px) and (max-width: 767px) {
  .main-container .intro .inner-container .text {
    width: 100%;
    padding: 15px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .main-container .intro .inner-container .text {
    width: 100%;
    padding: 20px;
  }
}
.main-container .intro .inner-container .text h2 {
  color: #0059aa;
  margin-bottom: 70px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .main-container .intro .inner-container .text h2 {
    font-size: 24px;
    font-weight: normal;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .main-container .intro .inner-container .text h2 {
    font-size: 24px;
    font-weight: normal;
  }
}
.main-container .intro .inner-container .text p {
  font-size: 24px;
  color: #727284;
  margin-bottom: 50px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .main-container .intro .inner-container .text p {
    font-size: 14px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .main-container .intro .inner-container .text p {
    font-size: 20px;
  }
}
.main-container .intro .inner-container .text button {
  letter-spacing: 5px;
  color: #0c3b7d;
  font-size: 17px;
  font-weight: bold;
  border: 1px solid #00a6ff;
  border-radius: 25px;
  padding: 15px 20px;
  background-color: transparent;
}
.main-container .intro .inner-container .text button:hover {
  cursor: pointer;
}
@media (min-width: 320px) and (max-width: 767px) {
  .main-container .intro .inner-container .text button {
    font-size: 14px;
    padding: 5px 8px;
    letter-spacing: normal;
    font-weight: normal;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .main-container .intro .inner-container .text button {
    font-size: 16px;
    padding: 5px 10px;
    letter-spacing: normal;
    font-weight: normal;
  }
}
.main-container .service {
  background-image: url(../images/content-background.png);
  background-size: cover;
  padding: 100px 0px 0px 0px;
  text-align: center;
}
@media (min-width: 320px) and (max-width: 767px) {
  .main-container .service {
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .main-container .service {
    width: 100%;
  }
}
.main-container .service .inner-container h2 {
  margin-bottom: 110px;
  text-align: center;
  color: #0059aa;
  font-weight: lighter;
}
.main-container .service .inner-container .first {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 51px;
  margin-bottom: 100px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .main-container .service .inner-container .first {
    padding: 15px;
    display: inline-block;
    margin: 0;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .main-container .service .inner-container .first {
    padding: 20px;
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .main-container .service .inner-container .first .services {
    margin-bottom: 50px;
  }
}
.main-container .service .inner-container .first .services .icon {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 30px;
  margin-bottom: 25px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .main-container .service .inner-container .first .services .icon {
    align-items: center;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .main-container .service .inner-container .first .services .icon {
    align-items: center;
  }
}
.main-container .service .inner-container .first .services .icon h1 {
  text-align: left;
  color: #c0e4f6;
}
@media (min-width: 320px) and (max-width: 767px) {
  .main-container .service .inner-container .first .services .icon h1 {
    font-size: 20px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .main-container .service .inner-container .first .services .icon h1 {
    font-size: 20px;
  }
}
.main-container .service .inner-container .first .services p {
  color: #c0e4f6;
}
.main-container .service .inner-container .second {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 380px 380px;
  grid-gap: 70px;
  margin-bottom: 100px;
  justify-content: center;
}
@media (min-width: 320px) and (max-width: 767px) {
  .main-container .service .inner-container .second {
    display: inline-block;
    padding: 15px;
    margin-bottom: 50px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .main-container .service .inner-container .second {
    padding: 15px;
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .main-container .service .inner-container .second .services {
    margin-bottom: 50px;
  }
  .main-container .service .inner-container .second .services:last-child {
    margin: none;
  }
}
.main-container .service .inner-container .second .services .icon {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 30px;
  margin-bottom: 25px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .main-container .service .inner-container .second .services .icon {
    align-items: center;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .main-container .service .inner-container .second .services .icon {
    align-items: center;
  }
}
.main-container .service .inner-container .second .services .icon h1 {
  color: #c0e4f6;
  text-align: left;
}
@media (min-width: 320px) and (max-width: 767px) {
  .main-container .service .inner-container .second .services .icon h1 {
    font-size: 20px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .main-container .service .inner-container .second .services .icon h1 {
    font-size: 20px;
  }
}
.main-container .service .inner-container .second .services p {
  color: #c0e4f6;
}
.main-container .service .inner-container button {
  letter-spacing: 5px;
  color: #ffff;
  margin-bottom: 100px;
  font-size: 16px;
  border: 1px solid #00a6ff;
  border-radius: 25px;
  padding: 12px 25px;
  background-color: transparent;
}
.main-container .service .inner-container button:hover {
  cursor: pointer;
}
@media (min-width: 320px) and (max-width: 767px) {
  .main-container .service .inner-container button {
    letter-spacing: normal;
    font-size: 16px;
    padding: 5px 8px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .main-container .service .inner-container button {
    letter-spacing: normal;
    font-size: 16px;
    padding: 5px 15px;
  }
}
.main-container .news {
  background-image: url(../images/news-background_11.png);
  background-size: cover;
  padding: 90px 0 0 0;
  text-align: center;
  width: 100%;
}
@media (min-width: 320px) and (max-width: 767px) {
  .main-container .news {
    width: 100%;
  }
}
.main-container .news .inner-container h2 {
  margin-bottom: 85px;
  color: #fefdf9;
  letter-spacing: 4px;
  font-weight: lighter;
}
@media (min-width: 320px) and (max-width: 767px) {
  .main-container .news .inner-container h2 {
    font-size: 24px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .main-container .news .inner-container h2 {
    font-size: 24px;
  }
}
.main-container .news .inner-container .news-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
  margin-bottom: 90px;
  padding: 15px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .main-container .news .inner-container .news-grid {
    padding: 15px;
    display: inline-block;
  }
}
.main-container .news .inner-container .news-grid .news-1 {
  padding: 30px;
  background-color: #ffff;
}
.main-container .news .inner-container .news-grid .news-1 h3 {
  margin-bottom: 25px;
  color: #00acf6;
  font-size: 19px;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .main-container .news .inner-container .news-grid .news-1 h3 {
    font-size: 16px;
  }
}
.main-container .news .inner-container .news-grid .news-1 h4 {
  margin-bottom: 25px;
  color: #cacad4;
  font-size: 14px;
}
.main-container .news .inner-container .news-grid .news-1 hr {
  margin-bottom: 25px;
  color: #dbdbea;
}
.main-container .news .inner-container .news-grid .news-1 p {
  color: #727285;
  font-size: 16px;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .main-container .news .inner-container .news-grid .news-1 p {
    font-size: 16px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .main-container .news .inner-container .news-grid .news-1 p {
    font-size: 14px;
  }
}
.main-container .news .inner-container .news-grid .news-1 p a {
  text-decoration: none;
  cursor: pointer;
  color: #00acf6;
}
.main-container .news .inner-container .news-grid .news-2 {
  padding: 30px;
  background-color: #ffff;
}
.main-container .news .inner-container .news-grid .news-2 h3 {
  margin-bottom: 25px;
  color: #00acf6;
  font-size: 19px;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .main-container .news .inner-container .news-grid .news-2 h3 {
    font-size: 16px;
  }
}
.main-container .news .inner-container .news-grid .news-2 h4 {
  margin-bottom: 25px;
  color: #cacad4;
  font-size: 14px;
}
.main-container .news .inner-container .news-grid .news-2 hr {
  margin-bottom: 25px;
  color: #dbdbea;
}
.main-container .news .inner-container .news-grid .news-2 p {
  color: #727285;
  font-size: 16px;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .main-container .news .inner-container .news-grid .news-2 p {
    font-size: 14px;
  }
}
.main-container .news .inner-container .news-grid .news-2 p a {
  text-decoration: none;
  cursor: pointer;
  color: #00acf6;
}
.main-container .news .inner-container .news-grid .news-3 {
  padding: 30px;
  background-color: #ffff;
}
.main-container .news .inner-container .news-grid .news-3 h3 {
  margin-bottom: 25px;
  color: #00acf6;
  font-size: 19px;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .main-container .news .inner-container .news-grid .news-3 h3 {
    font-size: 16px;
  }
}
.main-container .news .inner-container .news-grid .news-3 h4 {
  margin-bottom: 25px;
  color: #cacad4;
  font-size: 14px;
}
.main-container .news .inner-container .news-grid .news-3 hr {
  margin-bottom: 25px;
  color: #dbdbea;
}
.main-container .news .inner-container .news-grid .news-3 p {
  color: #727285;
  font-size: 16px;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .main-container .news .inner-container .news-grid .news-3 p {
    font-size: 14px;
  }
}
.main-container .news .inner-container .news-grid .news-3 p a {
  text-decoration: none;
  cursor: pointer;
  color: #00acf6;
}
.main-container .news .inner-container button {
  letter-spacing: 5px;
  color: #ffff;
  margin-bottom: 100px;
  font-size: 17px;
  border: 1px solid #00a6ff;
  border-radius: 25px;
  padding: 12px 25px;
  background-color: transparent;
}
.main-container .news .inner-container button:hover {
  cursor: pointer;
}
@media (min-width: 320px) and (max-width: 767px) {
  .main-container .news .inner-container button {
    padding: 5px 8px;
    letter-spacing: normal;
    font-size: 14px;
    margin-bottom: 20px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .main-container .news .inner-container button {
    padding: 5px 15px;
    letter-spacing: normal;
    font-size: 14px;
    margin-bottom: 30px;
  }
}
.main-container .form {
  padding: 100px 0 0 0;
  background-color: #ffff;
}
@media (min-width: 320px) and (max-width: 767px) {
  .main-container .form {
    width: 100%;
    padding: 15px;
    padding-top: 50px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .main-container .form {
    width: 100%;
    padding: 15px;
  }
}
.main-container .form .inner-container p {
  margin-bottom: 60px;
  font-size: 24px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .main-container .form .inner-container p {
    font-size: 16px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .main-container .form .inner-container p {
    font-size: 16px;
  }
}
.main-container .form .inner-container p a {
  text-decoration: underline;
  color: #00acf6;
  font-weight: bold;
}
.main-container .form .inner-container form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .main-container .form .inner-container form {
    display: inline-block;
    text-align: center;
    padding-top: 20px;
    border: 1px solid gray;
  }
}
.main-container .form .inner-container form input {
  width: 300px;
  height: 50px;
  padding: 0 25px;
  color: #0075c0;
  text-align: left;
  border: 1px solid #dbdbeb;
  border-radius: 25px;
}
.main-container .form .inner-container form input::placeholder {
  color: #0075c0;
  font-size: 24px;
}
.main-container .form .inner-container form input:hover {
  cursor: pointer;
}
@media (min-width: 320px) and (max-width: 767px) {
  .main-container .form .inner-container form input {
    width: 290px;
    height: 45px;
    margin-bottom: 30px;
  }
  .main-container .form .inner-container form input:last-child {
    margin-bottom: 30px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .main-container .form .inner-container form input {
    width: 200px;
    height: 35px;
  }
  .main-container .form .inner-container form input::placeholder {
    font-size: 14px;
    text-align: center;
  }
}
.main-container .form .inner-container form button {
  letter-spacing: 5px;
  color: #1b4784;
  margin-bottom: 100px;
  font-size: 17px;
  border: 1px solid #00a6ff;
  border-radius: 25px;
  padding: 12px 25px;
  background-color: transparent;
}
.main-container .form .inner-container form button:hover {
  cursor: pointer;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .main-container .form .inner-container form button {
    font-size: 14px;
    padding: 5px 15px;
    letter-spacing: normal;
    font-weight: normal;
    width: 200px;
  }
}
.main-container footer {
  background-color: #4d4d4f;
  padding: 120px 0 0 0;
}
@media (min-width: 320px) and (max-width: 767px) {
  .main-container footer {
    width: 100%;
    padding: 0px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .main-container footer {
    width: 100%;
  }
}
.main-container footer .inner-container .menu {
  margin-bottom: 60px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 30px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .main-container footer .inner-container .menu {
    grid-template-columns: 1fr;
    padding: 15px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .main-container footer .inner-container .menu {
    padding: 15px;
  }
}
.main-container footer .inner-container .menu .menu-1 h2 {
  margin-bottom: 15px;
  color: #ffffff;
  font-size: 18px;
  font-weight: lighter;
}
@media (min-width: 320px) and (max-width: 767px) {
  .main-container footer .inner-container .menu .menu-1 h2 {
    font-weight: bold;
  }
}
.main-container footer .inner-container .menu .menu-1 ul li {
  list-style: none;
  margin-bottom: 13px;
}
.main-container footer .inner-container .menu .menu-1 ul li:last-child {
  margin-bottom: 0px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .main-container footer .inner-container .menu .menu-1 ul li {
    margin: 0 0 5px 10px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .main-container footer .inner-container .menu .menu-1 ul li {
    margin-bottom: 5px;
  }
}
.main-container footer .inner-container .menu .menu-1 ul li a {
  text-decoration: none;
  color: #ffffff;
}
@media (min-width: 320px) and (max-width: 767px) {
  .main-container footer .inner-container .menu .menu-1 ul li a {
    font-size: 14px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .main-container footer .inner-container .menu .menu-1 ul li a {
    font-size: 14px;
  }
}
.main-container footer .inner-container .menu .menu-2 h2 {
  margin-bottom: 15px;
  color: #ffffff;
  font-size: 18px;
  font-weight: lighter;
}
@media (min-width: 320px) and (max-width: 767px) {
  .main-container footer .inner-container .menu .menu-2 h2 {
    font-weight: bold;
  }
}
.main-container footer .inner-container .menu .menu-2 ul li {
  list-style: none;
  margin-bottom: 13px;
}
.main-container footer .inner-container .menu .menu-2 ul li:last-child {
  margin-bottom: 0px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .main-container footer .inner-container .menu .menu-2 ul li {
    margin: 0 0 5px 10px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .main-container footer .inner-container .menu .menu-2 ul li {
    margin-bottom: 5px;
  }
}
.main-container footer .inner-container .menu .menu-2 ul li a {
  text-decoration: none;
  color: #ffffff;
}
@media (min-width: 320px) and (max-width: 767px) {
  .main-container footer .inner-container .menu .menu-2 ul li a {
    font-size: 14px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .main-container footer .inner-container .menu .menu-2 ul li a {
    font-size: 14px;
  }
}
.main-container footer .inner-container .menu .menu-3 h2 {
  margin-bottom: 15px;
  color: #ffffff;
  font-size: 18px;
  font-weight: lighter;
}
@media (min-width: 320px) and (max-width: 767px) {
  .main-container footer .inner-container .menu .menu-3 h2 {
    font-weight: bold;
  }
}
.main-container footer .inner-container .menu .menu-3 ul li {
  list-style: none;
  margin-bottom: 13px;
}
.main-container footer .inner-container .menu .menu-3 ul li:last-child {
  margin-bottom: 0px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .main-container footer .inner-container .menu .menu-3 ul li {
    margin: 0 0 5px 10px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .main-container footer .inner-container .menu .menu-3 ul li {
    margin-bottom: 5px;
  }
}
.main-container footer .inner-container .menu .menu-3 ul li a {
  text-decoration: none;
  color: #ffffff;
}
@media (min-width: 320px) and (max-width: 767px) {
  .main-container footer .inner-container .menu .menu-3 ul li a {
    font-size: 14px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .main-container footer .inner-container .menu .menu-3 ul li a {
    font-size: 14px;
  }
}
.main-container footer .inner-container .menu .menu-4 h2 {
  margin-bottom: 15px;
  color: #ffffff;
  font-size: 18px;
  font-weight: lighter;
}
@media (min-width: 320px) and (max-width: 767px) {
  .main-container footer .inner-container .menu .menu-4 h2 {
    font-weight: bold;
  }
}
.main-container footer .inner-container .menu .menu-4 ul li {
  list-style: none;
  margin-bottom: 13px;
  display: grid;
  grid-template-columns: auto 1fr;
}
.main-container footer .inner-container .menu .menu-4 ul li:last-child {
  margin-bottom: 30px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .main-container footer .inner-container .menu .menu-4 ul li {
    margin: 0 0 5px 10px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .main-container footer .inner-container .menu .menu-4 ul li {
    margin-bottom: 5px;
  }
}
.main-container footer .inner-container .menu .menu-4 ul li a {
  text-decoration: none;
  color: #ffffff;
}
@media (min-width: 320px) and (max-width: 767px) {
  .main-container footer .inner-container .menu .menu-4 ul li a {
    font-size: 14px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .main-container footer .inner-container .menu .menu-4 ul li a {
    font: 14px;
    display: grid;
    grid-template-columns: 35px 1fr;
  }
}
.main-container footer .inner-container .menu .menu-4 ul li a i {
  padding-right: 10px;
  color: #70707d;
  font-size: 25px;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .main-container footer .inner-container .menu .menu-4 ul li a {
    font-size: 20px;
  }
}
.main-container footer .inner-container .menu .menu-4 ul li p {
  color: #ffffff;
}
.main-container footer .inner-container .menu .menu-4 i {
  color: #ffffff;
  font-size: 35px;
  margin-right: 20px;
}
.main-container footer .inner-container .menu .menu-4 i:last-child {
  margin: 0px;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .main-container footer .inner-container .menu .menu-4 i {
    font: 24px;
  }
}
.main-container footer .inner-container .last {
  display: grid;
  grid-template-columns: auto 1fr;
}
@media (min-width: 320px) and (max-width: 767px) {
  .main-container footer .inner-container .last {
    padding: 15px;
    grid-template-columns: 1fr 166px;
    grid-gap: 20px;
    align-items: center;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .main-container footer .inner-container .last {
    padding: 15px;
    grid-template-columns: 1fr 200px;
    grid-gap: 20px;
    align-items: center;
  }
}
.main-container footer .inner-container .last .text p {
  color: #a6a6a7;
  font-size: 14px;
}
.main-container footer .inner-container .last .text p:first-child {
  margin-bottom: 5px;
}
.main-container footer .inner-container .last .text p a {
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
}
.main-container footer .inner-container .last .image {
  justify-self: end;
}
@media (min-width: 320px) and (max-width: 767px) {
  .main-container footer .inner-container .last .image img {
    width: 150px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .main-container footer .inner-container .last .image img {
    width: 150px;
  }
}

/*# sourceMappingURL=style.css.map */
